<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novel.admin.mapper.UserMapper">

    <!-- 어드민 -->
    <select id="selectAdminInfo" resultType="com.novel.admin.data.AdminInfoVO">
        select admin_seq,admin_id,admin_nickname,admin_grade 
        from admin_info where admin_id = #{id} and admin_pwd = #{pwd}
    </select>


    <!-- 유저 -->
    <insert id="insertUserInfo">
        INSERT INTO user_info
        (user_id, user_pwd, user_name, user_nickname, user_email, user_birth, user_grade, user_status)
        VALUES(#{user_id}, #{user_pwd}, #{user_name}, #{user_nickname}, #{user_email}, #{user_birth}, #{user_grade}, #{user_status});
    </insert>

    <select id="selectUserInfoList" resultType="com.novel.admin.data.UserInfoVO">
        select *
        from user_info where user_id like '%${keyword}%'
        <if test="status != null">
            and user_status = #{status} 
        </if>
        limit 15 offset #{page}
    </select>

    <update id="updateUserInfo">
        UPDATE user_info
        SET user_pwd=#{user_pwd}, user_name=#{user_name}, user_nickname=#{user_nickname}, user_email=#{user_email}, user_birth=#{user_birth}, user_grade=#{user_grade}, user_status=#{user_status}
        WHERE user_seq=#{user_seq};

    </update>
</mapper>